<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>api</title>
    <script th:src="@{/js/jQuery.js}"></script>
</head>
<body>
    userid : <input type="text" id="userid"/><br>
    password : <input type="text" id="password"/><br>
    <button id="btn-api">Send</button><br>
    <button id="btn-response">Response</button><br>
    <button id="btn-array">Array</button><br>
    <button id="btn-delete">Delete</button><br>

    <script th:inline="javascript">
      $(document).ready(function(){
          $("#btn-api").on("click", function(){
              $.ajax({
                    url : "apiPostTest",
                    type : "post",
                    datatype : "text",
                    headers : {
                        "Content-Type" : "application/json",
                    },
                    data : JSON.stringify(
                        {
                            'userid' : $("#userid").val(),
                            'password' : $("#password").val(),
                        }
                    ),
                    success : function(data, status, xhr){
                        console.log(data);
                    },
                    error : function(xhr, status, error){
                        console.log(error);
                    },
              })
          });
          $("#btn-response").on("click", function(){
              $.ajax({
                    url : "getResponse",
                    type : "post",
                    datatype : "json",
                    success : function(data, status, xhr){
                        console.log(data);
                    },
                    error : function(xhr, status, error){
                        console.log(error);
                    },
              })
          });
          $("#btn-array").on("click", function(){
              let user1 = {
                            'userid' : $("#userid").val(),
                            'password' : $("#password").val(),
                        }
              let user2 = {
                            'userid' : 'kim',
                            'password' : '0000',
                        }
              $.ajax({
                    url : "apiPostArrayTest",
                    type : "post",
                    datatype : "json",
                    headers : {
                        "Content-Type" : "application/json",
                    },
                    data : JSON.stringify([user1, user2]),
                    success : function(data, status, xhr){
                        console.log(data);
                    },
                    error : function(xhr, status, error){
                        console.log(error);
                    },
              })
          });
          $("#btn-delete").on("click", function(){
              $.ajax({
                    url : "deleteCommentApi",
                    type : "delete",
                    datatype : "json",
                    success : function(data, status, xhr){
                        console.log(data);
                    },
                    error : function(xhr, status, error){
                        console.log(error);
                    },
              })
          });
      });
    </script>
</body>
</html>