<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>여러가지 model attribute 전달방법</h3>
<p>
<ul>
    <li><a th:href="@{/mapping/page}">page.html로 이동</a></li>
    <li><a th:href="@{/mapping/requestMapping}">request Mapping and model</a></li>
    <li><a th:href="@{/mapping/modelAndView}">Model and View</a></li>
    <li><a th:href="@{/mapping/redirectView}">Redirect View</a></li>
    <li><a th:href="@{/mapping/redirectView2}">Redirect View 2</a></li>
</ul>
</p>
<h3>여러가지 model attribute 전달방법</h3>
<p>
<ul>
    <li><a th:href="@{/mapping/redirect_1}">네이버로 이동</a></li>
    <li><a th:href="@{/mapping/redirect_2}">다음으로 이동</a></li>
</ul>
</p>
</body>
</html>