<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<meta charset="UTF-8">
<title>test</title>
<!--  전체 적용될 css  -->
<th:block layout:fragment="css"></th:block>
<!--  전체 적용될 스크립트  -->
<th:block layout:fragment="script"></th:block>

<!-- 작업 영역 -->
<body>
  <div layout:fragment="content" class="content">
    <form id="frm" class="container" action="/articles/create" method="post" >
      <div class="mb3">
        <label class="form-label">제목</label>
        <input type="text" id="title" class="form-control" th:field="${dto.title}">
      </div>
      <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea id="contents" class="form-control" row="3" th:field="${dto.content}"></textarea>
      </div>
      <input type="submit" value="저장" class="btn btn-primary">
      <input type="reset" value="다시쓰기" class="btn btn-secondary">
      <a href="/articles">Back</a>
    </form>
  </div>
</body>
</html>
