<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<meta charset="UTF-8">
<title>test</title>
<!--  전체 적용될 css  -->
<th:block layout:fragment="css"></th:block>
<!--  전체 적용될 스크립트  -->
<th:block layout:fragment="script"></th:block>

<!-- 작업 영역 -->
<body>
  <div layout:fragment="content" class="content">

    <div th:unless="${msg == null}">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong th:text="${msg}"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <table class="table m-2">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <th th:text="${dto.id}" scope="row" >1</th>
        <td th:text="${dto.title}">제목111</td>
        <td th:text="${dto.content}">내용 1111</td>
      </tr>
      </tbody>
    </table>
    <a th:href="@{/articles/{id}/update(id=${dto.id})}" class="btn btn-primary">Edit</a>
    <a th:href="@{/articles/{id}/delete(id=${dto.id})}" id="article-delete" class="btn btn-danger">Delete</a>
    <a href="/articles">Go to Article List</a>
    <br><br>
    <!--  댓글  -->
    <div class="card m-2" th:each="comment : ${dto.comments}">
      <div class="card-header">
        <span th:text="${comment.nickname}">Featured</span>
        <a th:href="@{/articles/{id}/{commentId}/update(id=${dto.id}, commentId=${comment.id})}" class="btn btn-sm btn-outline-primary">수정</a>
        <a th:href="@{/articles/{id}/{commentId}/delete(id=${dto.id}, commentId=${comment.id})}" class="btn btn-sm btn-outline-primary" id="comment-delete-btn">삭제</a>
      </div>
      <div class="card-body">
        <p class="card-text" th:text="${comment.body}">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>

<!--    <div class="card m-2">-->
<!--      <div class="card-header">-->
<!--        <span>Featured</span>-->
<!--        <a class="btn btn-sm btn-outline-primary">수정</a>-->
<!--        <a class="btn btn-sm btn-outline-primary" id="comment-delete-btn">삭제</a>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--      </div>-->
<!--    </div>-->

    <form action="/articles/addComment" method="post">
      <input type="hidden" th:value="${dto.id}" name="id">
      <!-- 닉네임 입력-->
      <div class="m-2">
        <label class="form-label">닉네임</label>
        <input th:field="${newComment.nickname}" type="text" class="form-control" id="new-comment-nickname">
      </div>
      <!-- 댓글 본문 입력-->
      <div class="m-2">
        <label class="form-label">댓글 내용</label>
        <textarea th:field="${newComment.body}" type="text" class="form-control" rows="3" id="new-comment-body"></textarea>
      </div>
      <!-- 전송버튼-->
      <button type="submit" class="btn btn-primary" id="comment-create-btn">댓글 작성</button>
    </form>

    <script th:inline="javascript">
        //삭제 버튼 클릭시 삭제 완료 알림
        $(document).ready(function(){
            $('#article-delete').on("click", function(event){
                alert('게시글을 삭제합니다.');
            });
        });
    </script>
  </div>
</body>
</html>
