<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:layout="www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<meta charset="UTF-8">
<title>test</title>
<!--  전체 적용될 css  -->
<th:block layout:fragment="css"></th:block>
<!--  전체 적용될 스크립트  -->
<th:block layout:fragment="script"></th:block>

<!-- 작업 영역 -->
<body>
  <div layout:fragment="content" class="content">
    <form class="container" action="/articles/update" method="post" >
      <div class="mb3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
      </div>
      <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" row="3" name="content"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="">Go to Article List</a>
    </form>
  </div>
</body>
</html>
